<div class="container-fluid">
  <div class="row col-6">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr class="table-dark">
          <th scope="col">#</th>
          <th scope="col">Marca</th>
          <th scope="col">Línea</th>
          <th scope="col">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars">
          <th scope="row">{{ car.id }}</th>
          <td>{{ car.marca }}</td>
          <td>{{ car.linea }}</td>
          <td>{{ car.modelo }}</td>
        </tr>
      </tbody>
    </table>
    <!-- <div>{{ cars.map(t => t.marca).reduce((a, b) => a + b, 0) }}</div> -->

    <div *ngFor="let brand of summaryCars">
      Total
      {{ brand.marca }}:
      {{ brand.total }}
    </div>
  </div>
</div>
